span {
    margin-right: 0px;
}

div.debug {
    position: fixed;
    bottom: 20px;
    left: 10px;
	right: 10px;
    z-index: 1;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.2);
    color: #ff7500;
    font-size: 0.75em;
    padding: 0.5em;
    width: initial;
}

#alert-popup {
    border-radius: 5px;
    position: absolute;
    bottom: 10%;
    left: 5%;
    display: block;
    width: 80%;
    margin: 1em;
    padding: 0.25em;
    color: #ff7500;
    font-size: 0.75em;
    text-align: center;
    background-color: white;
}

#place-label {
    position: absolute;
    top: 5%;
    left: 0.5em;
    display: flex;
    justify-content: center;
    width: 100%;
}

#place-label > span {
    z-index: 99999;
    padding: 0.25em;
    color: #ff7500;
    text-align: center;
	
}

.animated-button1 {
    
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
	background-color: white;
	position: absolute;
	right: 0.5em;
  
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  color: #292525;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  
}

.animated-button1::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.arjs-loader {
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
	pointer-events: none;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #444;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}



@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}

.p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #292525;
  font-size: 25px;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  margin-bottom: 2px;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #292525;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  line-height: 1.2;
  margin-top: 2px;
  text-decoration: none;
}

.centered {
    height: 15%;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: transparent;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    outline: none;
}

.immagine {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	 border-radius: 120%;
	 background-color: rgba(0, 0, 0, 0.4);
	 outline: none;
	}